#app {
    height: 100%;
  }
  /* html,
  body {
    position: relative;
    height: 100%;
  } */
  
  /* body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f3f3f3;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: rgb(255 121 0);
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 24px;
  }
  
  .swiper-pagination-bullet {
    background: #ff9004 !important;
  }
  