.container {
    right: calc(50% - 91.666667%/2);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    max-height: 84vh;
    overflow-y: auto;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
}

.price_field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }