.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  text-align: justify;
}

.expanded {
  display: block;
  text-align: justify;
}
