.container {
    margin: 0 1rem;
    font-size: 18px;
    font-weight: 500;
    height: 37px;
    border-bottom: 1px solid var(--border-color);
}
@media (max-width: 540px) {
    .container {
        margin: 0 .5rem;
        font-size: 16px;
        height: 30px;
    }
  }