.blob {
  background: var(--theme-color);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 1rem;
  box-shadow: 0 0 0 0 var(--theme-color);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 0, 0);
  }
}
